{% extends 'shared/base.html' %}

{% block content %}
    {# slider navigation #}
    <div id="slider_wrapper">
        <ul class="nav nav-tabs sects">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sec1">Control Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sec2">Settings</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="sec1" class="sec-content tab-pane fade active show">
            <div class="container-fluid">
                <div class="row">
                    {% block data %}
                        {% include "home/control_panel/data.html" %}
                    {% endblock data %}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% block control %}
                            {% include "home/control_panel/control.html" %}
                        {% endblock control %}
                    </div>
                    <div class="col-md-6">
                        {% block status %}
                            {% include "home/control_panel/status.html" %}
                        {% endblock status %}
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>

        <div id="sec2" class="sec-content tab-pane fade">
            <form>
                <div class="container-fluid">
                    <div class="row">
                        {% block pH_reg %}
                            {% include "home/settings/pH_reg.html" %}
                        {% endblock pH_reg %}
                    </div>
                    <div class="row">
                        {% block nutrient_reg %}
                            {% include "home/settings/nutrient_reg.html" %}
                        {% endblock nutrient_reg %}
                    </div>
                    <div class="row">
                        {% block dumping %}
                            {% include "home/settings/dumping.html" %}
                        {% endblock dumping %}
                    </div>
                    <div class="row">
                        {% block misc %}
                            {% include "home/settings/misc.html" %}
                        {% endblock misc %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
