{% extends 'shared/base.html' %}

{% block content %}
    {# slider navigation #}
    <div id="slider_wrapper">
        <ul class="nav nav-tabs sects">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sec1">Control Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sec2">Settings</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="sec1" class="sec-content tab-pane fade active show">
            <div class="container-fluid">
                <div class="row">
                    {% include "home/control_panel/data.html" %}
                </div>
                <div class="row">
                    {% include "home/control_panel/control.html" %}
                </div>
                <div class="row">
                    {% include "home/control_panel/status.html" %}
                </div>
            </div>
        </div>

        <div id="sec2" class="sec-content tab-pane fade">
            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            {% include "home/settings/pH_reg.html" %}
                        </div>
                        <div class="col-6">
                            {% include "home/settings/nutrient_reg.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {% include "home/settings/waste_reg.html" %}
                        </div>
                        <div class="col-6">
                            {% include "home/settings/water_reg.html" %}
                        </div>
                    </div>
                    <div class="row">
                        {% include "home/settings/data.html" %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
