<div class="sub_section" id="clock_events">
    <div class="header">Clock Events</div>
    <div class="row sub_menu">
        <div class="col-md-4 menu_item"><button onclick="addPunch('modal')">Add Clock Event</button></div>
        <div class="col-md-4 menu_item"><button onclick="renderToday()">View Today</button></div>
        <div class="col-md-4 menu_item"><button onclick="renderDateRange()">View Date Range</button></div>
    </div>
    <div class="row color_key align-content-around">
        <div class="col-xs-6"><div class="color blue"></div>Clock In</div>
        <div class="col-xs-6"><div class="color red"></div>Clock Out</div>
    </div>
    <div class="sub_content">
        <div class="table-responsive">
            <table class="table">
                <tr class="header-row">
                    <th name="inout_ind"></th>
                    <th name="fullname">Name</th>
                    <th name="time">Time</th>
                    <th name="date">Date</th>
                    <th name="notes">Notes</th>
                    <th name="delete">Delete?</th>
                </tr>
                {% for clock_event in clock_events %}
                    {% if clock_event.date|date:"Y-m-d" <= date_stop|date:"Y-m-d" %}
                        {% if clock_event|date:"Y-m-d" >= date_start|date:"Y-m-d" %}
                            <tr id="clock_42115">
                                <td name="inout_ind" class="{{ clock_event.type }}"></td>
                                <td name="fullname"><a class="edit_fullname">{{ clock_event.name }}</a></td>
                                <td name="time"><a href="#" class="edit_time editable editable-click">{{ clock_event.time }}</a></td>
                                <td name="date"><a href="#" class="edit_date editable editable-click">{{ clock_event.date }}</a></td>
                                <td name="notes"><a href="#" class="edit_notes editable editable-click">{{ clock_event.notes }}</a></td>
                                <td name="delete"><button class="delete" onclick="confirmDelete('es-ptsheppard\'s clock event','deletePunch(' + getClockID(this) + ')')">Delete?</button></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="row sub_menu" style="border-bottom:solid 1px #dcdcdc;">
            <div class="col-md-12 menu_item"><button onclick="multiPunchUpdate('#sec1 #clock_events');">Update Changes</button></div>
        </div>
    </div>
</div>