<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#staff_meeting">Add a Staff Meeting</a>
        </h4>
    </div>
    <div id="staff_meeting" class="panel-collapse collapse sub_section">
        <!-- <input readonly class="def datepick"> -->
        <div class="row staff_meeting_data">
            <div class="col-md-4">
                <div class="default_input">
                    <label class="default">Date</label><input name="date" readonly class="default datepick"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="default_input">
                    <label class="default">In Time</label><input name="start_time" class="default"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="default_input">
                    <label class="default">Out Time</label><input name="end_time" class="default"/>
                </div>
            </div>
        </div>
        <div class="row"><div class="divider"></div></div>
        <div class="row employees">
            <h2>Employees <span class="instruct">(Click to select)</span></h2>
            <div class="row emp_list">

            </div>
        </div>
        <div class="row sub_menu bottom_menu">
            <div class="col-md-6 menu_item"><button class="reset">Reset</button></div>
            <div class="col-md-6 menu_item"><button onclick="submitStaffMeeting('#sec2 #staff_meeting')">Next</button></div>
        </div>
    </div>
</div>