<div class="card" style="overflow:visible;">
    <div class="card-header">
        <h4 class="card-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#addClock">Add a Clock Event</a>
        </h4>
    </div>
    <div id="addClock" class="panel-collapse collapse in">
        <div class="card-block">
            <form class="add_punch_form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="username input_div">
                            <div class="form_label">Username</div>
                            <span><!-- <input type="text" name="username_fullname" class="username_fullname" maxlength="60" size="17" tabindex="4"> --></span>
                            <select name="username_fullname" class="username_fullname hide-menu-arrow selectpicker" data-width="200px" tabindex="3"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="left_inout input_div">
                            <div class="form_label">In/Out</div>
                            <select name="left_inout" class="selectpicker" data-width="100px" tabindex="3">
                                <option value="In" selected>in</option>
                                <option value="Out">out</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="time input_div">
                            <div class="form_label">Time</div>
                            <span><input type="text" name="time" maxlength="60" size="8" tabindex="4"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="clockdate input_div">
                            <div class="form_label">Date</div>
                            <span><input type="text" readonly class="datepick" name="clockdate" maxlength="60" size="8" tabindex="4"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="time input_div">
                            <div class="form_label">Notes</div>
                            <span><input type="text" name="notes"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><button class="form_label add_punch" type="submit" style="float:right">Add</button></div>
                </div>
            </form>
        </div>
    </div>
</div>