<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            <a data-toggle="collapse" data-parent="#reports_accordion" href="#audit_display">Audit Display</a>
        </h4>
    </div>
    <div id="audit_display" class="panel-collapse collapse">
        <div class="card-block">
            <div class="step step_one step_active">
                <div class="row"><h2>Please select a range of audits to display:</h2></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="default_input">
                            <label class="default">From Date</label><input name="from_date" readonly class="default datepick"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="default_input">
                            <label class="default">To Date</label><input name="to_date" readonly class="default datepick"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step step_two step_hidden">
                <div class="row audit_report">
                    <div class="table-responsive">
                        <table class="table">
                            <tr class="header_row"><th>Original Time</th><th>New Time</th><th>Audit</th></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row sub_menu bottom_menu">
                <div class="col-md-6 menu_item"><button class="reset">Reset</button></div>
                <div class="col-md-6 menu_item"><button onclick="auditReport('#sec4 #audit_display')">Next</button></div>
            </div>
        </div>
    </div>
</div>