<!doctype html>
<html>
    <head>
        <title> Widgets </title>

        <meta charset="utf-8">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="description" content="">
        <meta name="author" content="Preston Sheppard">
        <link href="../../static/img/favicon.png" rel="icon">
        <link href="../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

        <link href="//fonts.googleapis.com/css?family=Pathway+Gothic+One|Oswald:400,300" rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300italic" rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="../../static/dist/hydro.bundle.js"></script>

        <link rel="stylesheet" href="../../static/dist/hydro.min.css">
        <link rel="stylesheet" href="../../static/css/style.css">

    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col main">
                    <form>
                        <div class="card">
                            <div class="card-header">
                                <h3>Date Pickers</h3>
                            </div>

                            <div class="card-content">
                                <div class="row">
                                    <div class="col form-block">
                                        <label class="control-label" for="id_datetime_picker"><h4 class="vertical-align-center">Datetime Picker</h4></label>
                                        <input class="type-datetime datetimepicker-input half form_control" id="id_datetime_picker" name="datetime_picker" data-toggle="datetimepicker" data-target="#id_datetime_picker">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-block">
                                        <label class="control-label" for="id_time_picker"><h4 class="vertical-align-center">Time Picker</h4></label>
                                        <input class="type-time datetimepicker-input half form_control" id="id_time_picker" name="date_picker" data-toggle="datetimepicker" data-target="#id_time_picker">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-block">
                                        <label class="control-label" for="id_date_picker"><h4 class="vertical-align-center">Date Picker</h4></label>
                                        <input class="type-date datetimepicker-input half form_control" id="id_date_picker" name="date_picker" data-toggle="datetimepicker" data-target="#id_date_picker">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h3>Select Fields</h3>
                            </div>

                            <div class="card-content">
                                <div class="row">
                                    <div class="col form-block">
                                        <label class="control-label" for="id_chosen_single">
                                            <h4 class="vertical-align-center">Chosen Single</h4>
                                        </label>
                                        <select class="chosen-select-half" id="id_chosen_single" name="chosen_single">
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                            <option value="4">Option 4</option>
                                            <option value="5">Option 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-block">
                                        <label class="control-label" for="id_chosen_single_empty">
                                            <h4 class="vertical-align-center">Chosen Single Empty</h4>
                                        </label>
                                        <select class="chosen-select-half" id="id_chosen_single_empty"
                                                name="chosen_single_empty">
                                            <option value="1"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-block">
                                        <label class="control-label" for="id_chosen_multi">
                                            <h4 class="vertical-align-center">Chosen Multi</h4>
                                        </label>
                                        <select class="chosen-select-half" multiple="multiple" id="id_chosen_multi"
                                                name="chosen_multi">
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                            <option value="4">Option 4</option>
                                            <option value="5">Option 5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h3>Select Fields</h3>
                            </div>

                            <div class="card-content">
                                <div class="row">
                                    <div class="col form-block">
                                        <label class="control-label" for="id_input">
                                            <h4 class="vertical-align-center">Input</h4>
                                        </label>
                                        <input id="id_input" name="input" required maxlength="255" type="text" style="">
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col form-block">
                                        <label class="control-label" for="id_input_readonly">
                                            <h4 class="vertical-align-center">Input Readonly</h4>
                                        </label>
                                        <input id="id_input_readonly" name="input_readonly" required maxlength="255" type="text" style="" readonly="">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col form-block">
                                        <label class="control-label" for="id_text_area">
                                            <h4 class="vertical-align-center">Text Area</h4>
                                        </label>
                                        <textarea id="id_text_area" class="half" name="text_area" cols="30" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

