<div class="sub_section">
    <div class="header">Manual Control</div>
    <div class="sub_content">
        <div class="row justify-content-start">
            <div class="col-4 align-self-center">
                <h4>pH Controls</h4>
            </div>
            <div class="col-8 align-self-center">
                <dive class="row">
                    <div class="col-6">
                        <form action="{% url 'post_control' %}" method="post">
                            {% csrf_token %}
                            <button class="red" type="submit">Increase pH</button>
                            <input type="hidden" value="1" name="type"/>
                            <input type="hidden" value="1" name="value"/>
                        </form>
                    </div>
                    <div class="col-6">
                        <form action="{% url 'post_control' %}" method="post">
                            {% csrf_token %}
                            <button class="red" type="submit">Decrease pH</button>
                            <input type="hidden" value="2" name="type"/>
                            <input type="hidden" value="1" name="value"/>
                        </form>
                    </div>
                </dive>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-4 align-self-center">
                <h4>Nutrient Controls</h4>
            </div>
            <div class="col-8 align-self-center">
                <dive class="row">
                    <div class="col">
                        <button class="red">Add Nutrients</button>
                    </div>
                </dive>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-4 align-self-center">
                <h4>Water Controls</h4>
            </div>
            <div class="col-8 align-self-center">
                <dive class="row">
                    <div class="col-6">
                        <button class="red">Change Water</button>
                    </div>
                    <div class="col-6">
                        <button class="red">Refill Reservoir</button>
                    </div>
                </dive>
            </div>
        </div>
    </div>
</div>