<div class="sub_section">
    <div class="header">Data</div>
    <div class="sub_content">
        <div class="row">
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <canvas class="graph" id="pHLineChart"></canvas>
            <canvas class="graph" id="ecLineChart"></canvas>
            <canvas class="graph" id="orpLineChart"></canvas>
            <canvas class="graph" id="temperatureLineChart"></canvas>
        </div>
    </div>
</div>