{% block status %}
<div class="sub_section">
    <div class="header">Status</div>
    <div class="sub_content">
        <div class="row">
            <div class="col">
                Last pH change:
            </div>
            <div class="col">
                {{ config.last_pH_change }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Last nutrient change:
            </div>
            <div class="col">
                {{ config.last_nutrient_change }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Last water change:
            </div>
            <div class="col">
                {{ config.last_water_change }}
            </div>
        </div>
    </div>
</div>
{% endblock status %}