@charset "utf-8";
/* base css */

html {
  background: none;
  overflow-y: hidden;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #656c70;
  background-image: url("../img/settings_bg.png");
  background-size: 125px 125px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  background: none;
  font-weight: 700;
  font-size: 20px;
  color: #959494;
}

h2 {
  background: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}

h3 {
  // color: #787878;
  color: #c7c7c7;
  letter-spacing: 0.1em;
  font-size: 15px;
  margin-bottom: 10px;
}

h4 {
  color: #d44141;
  letter-spacing: 0.1em;
  font-size: 13px;
}

h5 {
  color: #787878;
  font-size: 12px;
  font-family: Ubuntu;
  font-weight: bold;
  font-style: normal;
}

h6 {
  color: #787878;
  font-size: 12px;
  font-family: Ubuntu;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'NevisBold';
  src: url('../fonts/nevis/nevis.eot');
  src: url('../fonts/nevis/nevis.eot') format('embedded-opentype'),
  url('../fonts/nevis/nevis.woff') format('woff'),
  url('../fonts/nevis/nevis.ttf') format('truetype'),
  url('../fonts/nevis/nevis.svg#NevisBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* app container */
#app_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1152px;
  height: 100%;
}

#slider_wrapper {
  width: 100%;
  background-color: #fafafa;
  text-align: center;
}

ul.sects {
  width: 100%;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    display: inline-block;
    color: #b6b6b6;
    a {
      display: block;
      padding: 5px;
      padding-top: 18px;
      font-size: 0.8em;
      height: 48px;
      color: #A3A3A3;
      text-decoration: none;
    }
  }
  li:hover {
    color: #d1d1d1;
  }
}

.main .page-header {
  padding-top: 19px;
  text-align: left;
  color: #787878;
}

.main-container {
  min-height: calc(100vh - 48px);
}

.main {
  padding: 0;

  .page-header {
    margin-top: 0px;
    width: 100%;
    height: 50px;
    background: #fff;
    padding-left: 5%;
    padding-top: 13px;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0;
  }
}