/*
 * Base structure
 */
@import "mixins";

.row {
  height: 100%;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

input {
  color: #949595;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-variant: normal;
  text-transform: none;
  font-weight: 400;
}

textarea {
  resize: none;
  padding: 5px;
  color: #787878;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: normal;
  font-variant: normal;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

/* Buttons */
.button_default {
  border: none;
  font-variant: normal;
  height: 40px;
  display: inline;
  text-align: center;
  vertical-align: middle;
  padding: 14px 15px;
  letter-spacing: 0.2em;
  outline: none;
}

button {
  &.cancel {
    @extend .button_default;
    text-transform: uppercase;
    background: $theRed;

    &:hover {
      background: #ff6868;
    }
  }
  &.confirm {
    @extend .button_default;
    background: #bebebe;

    &:hover {
      background: #acacac;
    }
  }
  &.light {
    background-color: #fff;
    padding: 5px 5px;
    border: none;
    color: #787878;

    &:hover {
      background-color: #fafdff;
    }
  }
  &.grey {
    @extend .button_default;
    background: #bebebe;

    &:hover {
      background: #acacac;
    }
  }
  &.blue {
    @extend .button_default;
    color: #fff;
    font-variant: small-caps;
    text-transform: uppercase;
    font-weight: 500;
    background: $theBlue;
    padding: 12px 15px;

    &:hover {
      background: #64addb;
    }
  }
  &.red {
    @extend .button_default;
    color: #fff;
    margin: 15px 0;
    font-variant: small-caps;
    text-transform: uppercase;
    font-weight: 500;
    background: $theRed;

    &:hover {
      background: #ff6868;
    }
  }
  &.delete {
    border: 1px solid #b6b6b6;
    color: #969696;
    background: transparent;
    text-align: center;

    &:hover {
      background: $theRed;
      color: #fff;
      border-color: $theRed;
    }
  }

}

.checkbox {
  width: 10px;
  margin: 0 auto;
  position: relative;

  label {
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 2px;
    border-radius: 2px;
    background: #c9c9c9;
  }

  label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: $theBlue;
  }

  label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
  }

  input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

.blurred {
  -webkit-filter: blur(3px);
}

.prevent_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sec-content {
  clear: both;
  padding: 5%;
  padding-top: 0;
  text-align: center;
  margin-top: 20px;

  .sub_section {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;

    .header {
      background-color: #c1cacf;
      color: #636363;
      font-size: 12px;
      padding: 20px 5%;
    }

    .sub_content {
      background-color: $white;
      color: #959494;
      font-size: 12px;
      font-variant: normal;
      font-weight: 400;
      overflow:hidden;
    }
  }
}
