table, td {
  border-color: black;
  border-style: solid;
}

table {
  width: 10.375in;
  height: 4.75in;
  border-collapse: collapse;
  border-width: 0 0 1px 1px;
  border-spacing: 0;
}

td {
  margin: 0;
  border-width: 1px 1px 0 0;
  text-align: center;
}

td.name {
  text-align: left;
}

td.header {
  height: 0.4375in;
  text-align: center;
  vertical-align: bottom;
  padding: 0 0;
}

td.c0 {
  height: 0.3125in;
  width: 0.75in;
}

td.c1 {
  width: 0.375in;
}

td.c2 {
  width: 1.6875in;
}

td.c3 {
  width: 0.6875in;
}

td.c4 {
  width: 1.6875in;
}

td.c5 {
  width: 0.625in;
}

td.we {
  width: 0.5in;
}

td.wd {
  width: 0.6875in;
}

tr.altern {
  &:nth-child(even) {
    bacckground-color: #fff;
  }
  &:nth-child(odd) {
    background-color: #ccc;
  }
}

tr.w {
  background-color: white;
}

tr.g {
  background-color: #CCCCCC;
}

