@import "mixins";

@media (max-width: 999px) {
  ul li {
    list-style-type: none;
  }
}

body {
  font-family: "Ubuntu", sans-serif !important;
}

#aup_pol {
  &.sub_content {
    text-transform: none;
    padding: 0px !important;
    .row {
      margin: 0px;
    }
    p {
      line-height: 15px;
      padding-left: 15px;
    }
    h1 {
      font-size: 18px;
      padding-top: 15px;
    }
    h2 {
      font-size: 14px;
    }
    .aup_status {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
      padding: 15px;
      background: #fafafa;
      border-bottom: 1px solid #f4f4f4;
      &.accepted {
        color: $theBlue;
      }
      &.not_accepted {
        color: $theRed;
      }
    }
    .aup_content {
      padding: 5% !important;
    }
    .aup_accept {
      display: none;
      padding: 10px;
      text-align: center;
      button {
        border: 1px solid #ababab;
        padding: 5px 10px;
        background: transparent;
        font-variant: normal;
        text-transform: uppercase;
        color: #787878;
        font-weight: 500;
        letter-spacing: 0.1em;
        font-size: 12px;
        &:hover {
          background: #ababab;
          color: #fff;
        }
      }
    }
  }

}

#usg_sec {
  &.sub_content {
    background: #fff;
    padding: 5%;
    border: 1px solid #ececec;
    color: #959494;
    font-size: 12px;
    font-variant: normal;
    text-transform: none;
    font-weight: normal;
    p {
      line-height: 15px;
      padding-left: 15px;
    }
    h1 {
      font-size: 18px;
      padding-top: 15px;
    }
    h2 {
      font-size: 14px;
    }
  }
}
