<div class="sub_section">
    <div class="header">Waste Regulation</div>
    <div class="sub_content">
        <div class="row justify-content-start">
            <div class="col-8 align-self-center">
                <h4>Change Water Automatically</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="form_label switch" for="id_auto_water_change">
                            {# hidden input to submit false to the form when checkbox is not checked #}
                            <input type="hidden" value="false" name="auto_water_change"/>
                            <input id="id_auto_water_change" {% if form.auto_water_change.value %} checked {% endif %}
                                   name="auto_water_change" type="checkbox"><span class="toggle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>Resevoir Volume</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="form_label" for="id_reservoir_volume">
                            <input id="id_reservoir_volume"
                                   value="{{form.reservoir_volume.value}}" name="reservoir_volume"
                                   class="number" max="100" min="0" type="number" align="middle" placeholder="L">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>Basin Volume</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="form_label" for="id_basin_volume">
                            <input id="id_basin_volume" value="{{form.basin_volume.value}}" name="basin_volume"
                                   class="number" max="100" min="0" type="number" align="middle" placeholder="L">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>Maximum Days Between Water Changes</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="form_label" for="id_maximum_water_change_interval">
                            <input id="id_maximum_water_change_interval"
                                   value="{{form.maximum_water_change_interval.value}}"
                                   name="maximum_water_change_interval"
                                   class="number" max="100" min="0" type="number" align="middle" placeholder="days">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>Minimum Days Between Water Changes</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="form_label" for="id_minimum_water_change_interval">
                            <input id="id_minimum_water_change_interval"
                                   value="{{form.minimum_water_change_interval.value}}"
                                   name="minimum_water_change_interval"
                                   class="number" max="100" min="0" type="number" align="middle" placeholder="days">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>