{% block report %}
<div class="row color_key floating justify-content-around" style="border-bottom-color:#ddd;">
    <div class="col-xs-6"><div class="color blue"></div>Clock In</div>
    <div class="col-xs-6"><div class="color red"></div>Clock Out</div>
</div>
<div id="reports_accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="heading_one">
            <h4 class="card-title">
                <a data-toggle="collapse" data-parent="#reports_accordion" href="#collapse_one" aria-expanded="true" aria-controls="collapse_one">Daily Report</a>
            </h4>
        </div>
        <div id="collapse_one" class="collapse show" role="tabpanel" aria-labelledby="heading_one">
            <div class="card-block">
                <div class="step step_one step_active">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="from_date input_div">
                                    <div class="form_label">From Date</div>
                                    <input type="text" style="width:50%" class="form_item datepicker" name="From Date"  maxlength="10" size="10" tabindex="4" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="to_date input_div">
                                    <div class="form_label">To Date</div>
                                    <input type="text" style="width:50%" class="form_item datepicker" name="To Date"  maxlength="10" size="10" tabindex="4" readonly>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row sub_menu">
                        <div class="col-md-6 menu_item"><button onclick="resetForm('#dailyReports_colOne form')">Reset Form</button></div>
                        <div class="col-md-6 menu_item"><button onclick="reportControl('#dailyReports_colOne', 'generate', 'dailyReport')">Next</button></div>
                    </div>
                </div>

                <div id="clock_events" class="step step_two">
                    <div class="sub_content">
                        <div class="row" id="daily_report_cont">
                            <div class="table-responsive"><table class="table"><tbody></tbody></table></div>
                        </div>
                        <div class="row sub_menu">
                            <div class="col-md-12 menu_item"><button onclick="reportControl('#dailyReports_colOne', 'moveBack', 'dailyReport')">Back</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="heading_two">
            <h4 class="card-title">
                <a data-toggle="collapse" data-parent="#reports_accordion" href="#collapse_two" aria-expanded="true" aria-controls="collapse_two">Hours Worked Report</a>
            </h4>
        </div>
        <div id="collapse_two" class="collapse" role="tabpanel" aria-labelledby="heading_two">
            <div class="card-block">
                <div class="step step_one step_active">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="from_date input_div">
                                    <div class="form_label">From Date</div>
                                    <input type="text" style="width:50%" class="form_item datepick" name="From Date"  maxlength="10" size="10" tabindex="4" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="to_date input_div">
                                    <div class="form_label">To Date</div>
                                    <input type="text" style="width:50%" class="form_item datepick" name="To Date"  maxlength="10" size="10" tabindex="4" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="punch_details input_div">
                                    <div class="form_label autowidth">Show Punches?</div>
                                    <select class="form_item selectpicker" data-width="30%" name="punch_details">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row sub_menu">
                        <div class="col-md-6 menu_item"><button onclick="resetForm('#reports_colOne form')">Reset Form</button></div>
                        <div class="col-md-6 menu_item"><button onclick="reportControl('#reports_colOne', 'generate', 'hoursWorked')">Next</button></div>
                    </div>
                </div>

                <div class="step step_two">
                    <div class="row" id="hours_worked_cont">

                    </div>
                    <div class="row sub_menu">
                        <div class="col-md-12 menu_item"><button onclick="reportControl('#reports_colOne', 'moveBack', 'hoursWorked')">Back</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock report %}