<div class="sub_section current_status">
    <div class="header">Current Status</div>
    <div class="sub_content clearfix">
        <div class="row align-items-center">
            <div class="col-md-6 clocked in">
                <h1>Clocked</h1>
                <h2>in</h2>
            </div>
            <div class="col-md-6 align-content-center clock_info">
                <div class="row">Began at <span class="info worked_since" style="height: 33%"></span></div>
                <div class="row clock_row"><button name="clock" class="red_button" style="height: 33%">Clock Out</button></div>
                <div class="row punch_notes"><input name="notes" placeholder="Notes" style="height: 33%"></div>
            </div>
        </div>
    </div>
</div>