<div class="sub_section">
    <div class="header">Nutrient Regulation</div>
    <div class="sub_content">
        <div class="row justify-content-start">
            <div class="col-8 align-self-center">
                <h4>Automatically Regulate Nutrients</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="form_label switch" for="id_auto_regulate_nutrients">
                            {# hidden input to submit false to the form when checkbox is not checked #}
                            <input type="hidden" value="false" name="auto_regulate_nutrients"/>
                            <input id="id_auto_regulate_nutrients" {% if form.auto_regulate_nutrients.value %} checked {% endif %}
                                   name="auto_regulate_nutrients" type="checkbox"><span class="toggle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>Nutrient Adjustment Volume</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="form_label" for="id_nutrient_adj_volume"></label>
                        <input id="id_nutrient_adj_volume" value="{{form.nutrient_adj_volume.value}}" name="nutrient_adj_volume"
                            class="number" max="100" min="0" type="number"  step=".01" align="middle" placeholder="mL">
                    </div>
                </div>
            </div>
            <div class="col-12 align-self-center">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h4>Acceptable EC Range</h4>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <label class="col-4 form_label" for="id_low_EC">
                        <input id="id_low_EC" value="{{form.low_EC.value}}" name="low_EC"
                            class="slider_label" readonly >
                    </label>
                    <label class="col-4 form_label" for="id_high_EC">
                        <input id="id_high_EC" value="{{form.high_EC.value}}" name="high_EC"
                            class="slider_label" readonly>
                    </label>
                </div>

                <div class="row">
                    <div class="col">
                        <input id="id_EC_range" class="data-slider" type="text" data-slider-value="[{{form.low_EC.value}}, {{form.high_EC.value}}]"
                               data-slider-min="0" data-slider-max="14" data-slider-step=".01"/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>