{% extends 'shared/base.html' %}
{% load viewtag %}

{% block content %}
    {# slider navigation #}
    <div id="slider_wrapper">
        <ul class="nav nav-tabs sects">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sec1">Current Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sec2">Manage Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sec3">User Administration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sec4">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sec5">Payroll Upload</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="sec1" class="sec-content tab-pane fade active show">
            {% view "hydro.views.ManagerAnalyticsView" %}
            {% view "hydro.views.ManagerClockEventsView" %}
        </div>

        <div id="sec2" class="sec-content tab-pane fade">
            <h3>Manage Events</h3>
            <div class="h_div"></div>
            <div class="manage_event_cont">
                <div id="accordion">
                    {% view "hydro.views.ManagePanelOneView" %}
                    {% view "hydro.views.ManagePanelTwoView" %}
                    {% view "hydro.views.ManagePanelThreeView" %}
                </div>
            </div>
        </div>

        <div id="sec3" class="sec-content tab-pane fade">
            <h3 style="float:left">User Administration</h3><button class="add_user light_button" style="float:right" onClick="addUser();"></button>
            <div class="h_div"></div>

            <div class="users_container clearfix">
                <p>Loading...</p>
            </div>
        </div>

        <div id="sec4" class="sec-content tab-pane fade">
            <h3>Reports</h3>
            <div class="h_div"></div>

            <div id="reports_accordion">
                {% view "hydro.views.ManagerReportsPanelOneView" %}
                {% view "hydro.views.ManagerReportsPanelTwoView" %}
                {% view "hydro.views.ManagerReportsPanelThreeView" %}
                {% view "hydro.views.ManagerReportsPanelFourView" %}
            </div>
        </div>

        <div id="sec5" class="sec-content tab-pane fade">
            <h3>Payroll Upload</h3>
            <div class="h_div"></div>
            <div class="sub_section" id="payroll_upload">
                <div class="header">Student Hours Upload</div>
                <div class="sub_content">
                    <div class="row generate prevent_select">
                        <div class="col-md-10 upload_label">
                            Payroll Generation <span>Click to set Sunday</span>
                            <div class="payroll_datepicker">
                                <label>Date (Sunday)</label><input readonly type="text" name="date">
                            </div>
                        </div>
                        <div class="col-md-2 upload_status incomplete">Not Ready</div>
                    </div>
                </div>
                <div class="row sub_menu">
                    <div class="col-md-12 menu_item"><button onclick="generatePayroll()">Generate Payroll</button></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}