{% extends 'shared/base.html' %}
{% load viewtag %}

{% block content %}
    {# slider navigation #}
    <div id="slider_wrapper">
        <ul class="nav nav-tabs sects">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#sec1">Current Events</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sec2">User Administration</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sec3">Reports</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="sec1" class="sec-content tab-pane fade show active">
            <div class="sub_section" id="clockErrors">
                <div class="header">Clock Errors</div>
                <div class="sub_content"></div>
            </div>
            {% view "hydro.views.StudentAnalyticsView" %}
            {% view "hydro.views.FullTimeClockEventsView" %}
            {% view "hydro.views.DailyView" %}
        </div>

        <div id="sec2" class="sec-content tab-pane fade">
            <div class="row">
                <h3 style="float:left">User Administration</h3>
                <div class="h_div"></div>
            </div>
            <div class="row color_key floating" style="border-bottom-color:#ddd; margin-bottom:3%;">
                <div class="col-xs-6"><div class="color blue"></div>Enabled User</div>
                <div class="col-xs-6"><div class="color red"></div>Disabled User</div>
            </div>

            {% view "hydro.views.FullTimeEditUserView" %}
        </div>

        <div id="sec3" class="sec-content tab-pane fade">
            <h3>Reports</h3>
            <div class="h_div"></div>
            <div id="reports_accordion">
                {% view "hydro.views.FullTimeReportsPanelOneView" %}
                {% view "hydro.views.FullTimeReportsPanelTwoView" %}
            </div>
        </div>
    </div>
{% endblock %}
