<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#editClock">Edit/Remove a Clock Event</a>
        </h4>
    </div>
    <div id="editClock" class="panel-collapse collapse sub_section">
        <div class="card-block">
            <div class="row sub_menu top_menu">
                <div class="col-md-6 menu_item"><button class="back_button" disabled="disabled" onclick="">Search Again</button></div>
                <div class="col-md-6 menu_item"><button onclick="getMultiPunch('#editClock')">Next</button></div>
            </div>
            <div class="step_one">
                <form>
                    <div class="row">
                        <div class="username input_div">
                            <div class="form_label">Username</div>
                            <select class="form_item selectpicker" name="username_fullname" data-live-search="true">
                                <option value="all">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" readonly class="date_one input-sm form-control" name="start" />
                                <span class="input-group-addon">to</span>
                                <input type="text" readonly class="date_two input-sm form-control" name="end" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="step_two">
                <div class="sub_content">
                    <div class="table-responsive">
                        <table class="table">
                            <tr><th name="inout_ind"></th><th name="fullname">Name</th><th name="time">Time</th><th name="date">Date</th><th name="notes">Notes</th><th name="delete">Delete?</th></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row sub_menu bottom_menu">
                <div class="col-md-6 menu_item"><button class="back_button" disabled="disabled" onclick="">Search Again</button></div>
                <div class="col-md-6 menu_item"><button onclick="getMultiPunch('#editClock')">Next</button></div>
            </div>
        </div>
    </div>
</div>