<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            <a data-toggle="collapse" data-parent="#reports_accordion" href="#reports_colTwo">AUP Report</a>
        </h4>
    </div>
    <div id="reports_colTwo" class="panel-collapse collapse">
        <div class="card-block aup_panel">
            <h3 name="aup_true">Users who have accepted the AUP</h3>
            <table class="aup_true full_width def_table">
                <tr class="header_row">
                    <th class="table_heading">Username</th>
                    <th class="table_heading">First Name</th>
                    <th class="table_heading">Last Name</th>
                    <th class="table_heading">Accepted AUP date</th>
                </tr>
            </table>
            <h3 name="aup_false">Users who have <span class="important">NOT</span> accepted the AUP</h3>
            <table class="aup_false full_width def_table">
                <tr class="header_row">
                    <th class="table_heading">Username</th>
                    <th class="table_heading">First Name</th>
                    <th class="table_heading">Last Name</th>
                </tr>
            </table>
        </div>
    </div>
</div>