<div class="sub_section" id="clock_events" data-viewing-from="" data-viewing-to="">
    <div class="header">Clock Events</div>
    <div class="row sub_menu">
        <div class="col-md-6 menu_item"><button onclick="renderToday(function(){})">View Today</button></div>
        <div class="col-md-6 menu_item"><button onclick="renderDateRange()">View Date Range</button></div>
    </div>
    <div class="row color_key">
        <div class="col-xs-6"><div class="color blue"></div>Clock In</div>
        <div class="col-xs-6"><div class="color red"></div>Clock Out</div>
    </div>
    <div class="sub_content">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th name="inout_ind"></th>
                    <th name="fullname">Name</th>
                    <th name="time">Time</th>
                    <th name="date">Date</th>
                    <th name="notes">Notes</th>
                </tr>
            </table>
        </div>
    </div>
</div>