.navbar {
    background-color: #881c1c !important;
}

code {
    color: black !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #76881d;
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #8ecfe6;
    background-color: transparent;
}

a {
    color: #71b2c9;
}

a:hover, a:focus {
    color: #8ecfe6;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #8ecfe6;
    background-color: transparent;
}

dt:target, .highlighted {
    background-color: #eeb814;
}

.descname {
    color: #b86125 !important;
}

.descclassname {
    color: #b86125 !important;
}

.navbar-descname {
    font-weight: normal;
    font-size: 90% !important;
}

.localtoc {
    overflow-y: auto;
    max-height: 90vh;
}

dd {
    margin-left: 4.0em;
}

div.section dl.class {
    margin-bottom: 4.0em;
}

dd dl.class {
    margin-bottom: 21px !important;
}

dl.attribute dd {
    display: none;
}