<div class="users_container clearfix">
    <p>Loading...</p>
</div>
<div class="edit_panel">
    <div class="header">Edit User</div>
    <div class="content">
        <form>
            <div class="module_row clearfix">
                <div class="input_div">
                    <div class="form_label">Username</div>
                    <input type="time" disabled='disabled' name="username" maxlength="60" size="8" tabindex="4">
                </div>
                <div class="input_div">
                    <div class="form_label">First Name</div>
                    <input type="time" name="first_name" maxlength="60" size="8" tabindex="4">
                </div>
                <div class="input_div">
                    <div class="form_label">Last Name</div>
                    <input type="text" name="last_name" maxlength="60" size="8" tabindex="4">
                </div>
                <div class="input_div">
                    <div class="form_label">Email</div>
                    <input type="text" name="email" maxlength="60" size="18fff" tabindex="4">
                </div>
                <div class="input_div">
                    <div class="form_label">Weekly Hour Limit</div>
                    <input type="text" name="hour_limit" maxlength="5" size="3" tabindex="4">
                </div>
                <div class="input_div">
                    <div class="form_label">Employee ID</div>
                    <input type="text" name="empl_id" maxlength="60" size="8" tabindex="4">
                </div>
                <div class="input_div">
                    <div class="form_label">Employee Rec #</div>
                    <input type="text" name="empl_rec" maxlength="60" size="4" tabindex="4">
                </div>
                <div class="input_div">
                    <div class="form_label">HR Acct. Code</div>
                    <input type="text" name="hr_code" maxlength="60" size="4" tabindex="4">
                </div>
                <div class="input_div">
                    <div class="form_label">Time Reporting Code</div>
                    <select name="time_code" class="select2_act" tabindex="3">
                        <option value="STASH">STASH</option>
                        <option value="STAWS">STAWS</option>
                        <option value="REE">REE</option>
                        <option value="STSSH">STSSH</option>
                    </select>
                </div>
                <br/>
                <div class="input_div">
                    <div class="form_label">User Disabled</div>
                    <select name="user_disabled" class="select2_act" tabindex="3">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
            <div class="module_row clearfix">
                <button class="form_label cancel_punch" style="float:left">Cancel</button>
                <button class="form_label add_punch" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>