<!doctype html>
{% load static %}
<html>
    <head>
        <title> {{ title }} - Hydrop </title>

        {# load the icons, styles, and scripts from head #}
        {% include "shared/head.html" %}
    </head>

    <body>
        {% block navbar %}
            {% include "shared/navbar.html" %}
        {% endblock navbar %}
        <div class="container-fluid">
            <div class="row main-container">
                <div class="col-md-3 sidebar">
                    {% block sidebar %}
                        {% include "shared/sidebar.html" %}
                    {% endblock sidebar %}
                </div>
                <div class="col-md-9 main">
                    <h2 class="page-header">
                        <span style="font-weight: 500">Hydroponics</span>
                        <span style="font-weight: 300">Control Center</span>
                    </h2>
                    {#overridden by home#}
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        {% block footer %}
            {% include "shared/footer.html" %}
        {% endblock footer %}
    </body>
</html>
