<!doctype html>
{% load static %}
<html>
    <head>
        <title> {{ title }} - Hydrop </title>

        {# load the icons, styles, and scripts from head #}
        {% include "shared/head.html" %}
    </head>

    <body>
        {% block navbar %}
            {% include "shared/navbar.html" %}
        {% endblock navbar %}
        <div class="container-fluid">
            <div class="row main-container">
                <div class="col-md-3 sidebar prevent_select">
                    {% block sidebar %}
                        {% include "shared/sidebar.html" %}
                    {% endblock sidebar %}
                </div>
                <div class="col-md-9 main">
                    <h2 class="page-header">
                        <span style="font-weight: 500">OIT Help Center</span>
                        <span style="font-weight: 300">Time Clock &amp; Schedule Application</span>
                    </h2>
                    <body style="overflow: scroll">
                        {#overridden by home#}
                        {% block content %}
                        {% endblock content %}
                    </body>
                </div>
            </div>
        </div>
        <div id="footer">
            <button onclick="reportBug('form')"><span class="glyphicon glyphicon-screenshot"></span>Report a Bug</button>
        </div>
    </body>
</html>
