<div class="sub_section">
    <div class="header">Data</div>
    <div class="sub_content">
        <div class="row justify-content-start">
            <div class="col-8 align-self-center">
                <h4>Minimum Minutes Between Chemical Changes</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="form_label" for="id_min_change_interval"></label>
                        <input id="id_min_change_interval" value="{{config.min_change_interval}}"  name="min_change_interval"
                               class="number" max="100" min="0" type="number" align="middle" placeholder="min">
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>Number of Minutes for Rolling Averages</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="form_label" for="id_polling_range"></label>
                        <input id="id_polling_range" value="{{config.polling_range}}"  name="polling_range"
                               class="number" max="100" min="0" type="number" align="middle" placeholder="min">
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>Minimum Data Points for Rolling Averages</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col {% if form.minimun_data_count.errors %}has-error{% endif %}" >
                        <label class="form_label" for="id_minimun_data_count"></label>
                        <input id="id_minimun_data_count" value="{{config.minimun_data_count}}" name="minimun_data_count"
                               class="number" max="100" min="0" type="number" align="middle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>