<div class="sub_section current_status">
    <div class="header">pH Regulation</div>
    <div class="sub_content">
        <div class="row justify-content-start">
            <div class="col-12">
                <div class="col-12 range_times">
                    <div class="col-md-6 start_time" id="id_request_{{ request.id }}_val_0">10:00 AM</div>
                    <div class="col-md-6 end_time" id="id_request_{{ request.id }}_val_1">12:00 AM</div>
                </div>
                <div
                <input id="id_request_{{ request.id }}" class="conflict_slider" type="text"/><br/>
            </div>
            <div class="col-8 align-self-center">
                <h4>auto_regulate_pH</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox"><span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>pH_adj_volume</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <input class="number" max="100" min="0" type="number" align="middle" placeholder="mL">
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>low_pH</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox"><span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>high_pH</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox"><span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>