<div class="sub_section">
    <div class="header">Waste Regulation</div>
        <div class="sub_content">
        <div class="row justify-content-start">
            <div class="col-8 align-self-center">
                <h4>auto_water_change</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox"><span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>maximum_water_change_interval</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <input class="number" max="100" min="0" type="number" align="middle" placeholder="days">
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>minimum_water_change_interval</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <input class="number" max="100" min="0" type="number" align="middle" placeholder="days">
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>low_ORP</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox"><span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>high_ORP</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox"><span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>