<div class="sub_section">
    <div class="header">Waste Regulation</div>
        <div class="sub_content">
        <div class="row justify-content-start">
            <div class="col-8 align-self-center">
                <h4>auto_water_change</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox"><span class="toggle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>maximum_water_change_interval</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <input class="number" max="100" min="0" type="number" align="middle" placeholder="days">
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>minimum_water_change_interval</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <input class="number" max="100" min="0" type="number" align="middle" placeholder="days">
                    </div>
                </div>
            </div>
            <div class="col-12 align-self-center">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h4>Acceptable ORP Range</h4>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="col-4" id="id_ORP_range_val_0">5 ORP</div>
                    <div class="col-4" id="id_ORP_range_val_1">7 ORP</div>
                </div>

                <div class="row">
                    <div class="col">
                        <input id="id_ORP_range" class="data-slider" type="text" data-slider-value="[5, 7]"
                               data-slider-min="0" data-slider-max="14" data-slider-step=".1"/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>