<div class="sub_section">
    <div class="header">Water Regulation</div>
    <div class="sub_content">
        <div class="row justify-content-start">
            <div class="col-4 align-self-center">
                <h4>auto_pump</h4>
            </div>
            <div class="col-8 align-self-center">
                <dive class="row justify-content-end">
                    <div class="col-4">
                        <input id="toggle_one" type="checkbox" checked data-toggle="toggle">
                    </div>
                </dive>
            </div>
            <div class="col-4 align-self-center">
                <h4>auto_refill</h4>
            </div>
            <div class="col-8 align-self-center">
                <dive class="row justify-content-end">
                    <div class="col-4">
                        <input id="toggle_two" type="checkbox" checked data-toggle="toggle">
                    </div>
                </dive>
            </div>
            <div class="col-4 align-self-center">
                <h4>resevoir_volume</h4>
            </div>
            <div class="col-8 align-self-center">
                <dive class="row justify-content-end">
                    <div class="col-4">
                        <input id="toggle_three" type="checkbox" checked data-toggle="toggle">
                    </div>
                </dive>
            </div>
            <div class="col-4 align-self-center">
                <h4>basin_volume</h4>
            </div>
            <div class="col-8 align-self-center">
                <dive class="row justify-content-end">
                    <div class="col-4">
                        <input id="toggle_four" type="checkbox" checked data-toggle="toggle">
                    </div>
                </dive>
            </div>
        </div>
    </div>
</div>