<div class="sub_section">
    <div class="header">Water Regulation</div>
    <div class="sub_content">
        <div class="row justify-content-start">
            <div class="col-8 align-self-center">
                <h4>auto_pump</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox"><span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>auto_refill</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox"><span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>resevoir_volume</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <input class="number" max="100" min="0" type="number" align="middle" placeholder="L">
                    </div>
                </div>
            </div>
            <div class="col-8 align-self-center">
                <h4>basin_volume</h4>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <input class="number" max="100" min="0" type="number" align="middle" placeholder="L">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>